#hero {
  padding: 8rem 0;
  background: var(--bgAccent);
}

.heroContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroContent .contentTop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4rem;
  width: 50%;
}

.heroContent .contentTop h1 {
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: 0.1rem;
  text-align: left;
}

.heroContent .contentTop p {
  font-size: 1.7rem;
  line-height: 3rem;
  text-align: left;
}

.heroContent .contentBottom {
  width: 25%;
}

.heroContent img {
  width: 100%;
}

/******************************************
/* Mobile
/*******************************************/
@media screen and (max-width: 579px) and (min-height: 579px) {
  #hero {
    padding: 5rem 0;
  }

  .heroContent {
    justify-content: center;
  }

  .heroContent .contentTop {
    width: 100%;
  }

  .heroContent .contentTop h1 {
    font-size: 3.91rem;
    line-height: 2rem;
    text-align: left;
  }

  .heroContent .contentTop p {
    font-size: 1.57rem;
  }

  .heroContent .contentBottom {
    display: none;
  }
}

/******************************************
/* iPhone 4
/*******************************************/
@media screen and (max-width: 320px) and (max-height: 480px) {
}

/******************************************
/* iPhone 5/SE
/*******************************************/
@media screen and (max-width: 320px) and (max-height: 568px) {
  #hero {
    padding: 5rem 0;
  }

  .heroContent {
    justify-content: center;
  }

  .heroContent .contentTop {
    width: 100%;
  }

  .heroContent .contentTop h1 {
    font-size: 3.31rem;
    line-height: 2rem;
    text-align: left;
  }

  .heroContent .contentTop p {
    font-size: 1.57rem;
  }

  .heroContent .contentBottom {
    display: none;
  }
}

@media screen and (max-height: 568px) and (min-width: 321px) {
  .heroContent .contentTop {
    width: 100%;
  }

  .heroContent .contentTop h1 {
    font-size: 4rem;
    line-height: 2rem;
    text-align: left;
  }

  .heroContent .contentBottom {
    display: none;
  }
}

/******************************************
/* Tablet
/*******************************************/
@media (min-width: 580px) and (max-width: 850px) {
  .heroContent .contentTop {
    width: 100%;
  }

  .heroContent .contentBottom {
    display: none;
  }
}

/******************************************
/* Small PC
/*******************************************/
@media (min-width: 851px) and (max-width: 1024px) {
  .heroContent .contentTop {
    width: 60%;
  }

  .heroContent .contentTop h1 {
    font-size: 5rem;
    line-height: 3rem;
  }

  .heroContent .contentBottom {
    width: 30%;
  }
}
