:root {
  --bg: #171717;
  --primary: #212121;
  --sec: #87ae73;
  --textColor: #fff;
  --accent: #646363;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background: var(--bg);
  color: var(--textColor);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}