:root {
  --bgAccent: #2b2b2b;
  --bg: #212425;
  --textLight: #fff;
  --textDark: #000;
  --highlight: #87ae73;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% /* 1rem = 10px*/;
}

body {
  background: var(--bg);
  color: var(--textLight);
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: auto;
  width: 65%;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--textLight);
  cursor: pointer;
}

/******************************************
/* Mobile
/*******************************************/
@media screen and (max-width: 579px) and (min-height: 579px) {
  .container {
    width: 90%;
  }
}

/******************************************
/* iPhone 4
/*******************************************/
@media screen and (max-width: 320px) and (max-height: 480px) {
}

/******************************************
/* iPhone 5/SE
/*******************************************/
@media screen and (max-width: 320px) and (max-height: 568px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-height: 568px) and (min-width: 321px) {
  .container {
    width: 85%;
  }
}

/******************************************
/* Tablet
/*******************************************/
@media (min-width: 580px) and (max-width: 850px) {
  .container {
    width: 85%;
  }
}

/******************************************
/* Small PC
/*******************************************/
@media (min-width: 851px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}
