:root {
  --bg: #171717;
  --primary: #212121;
  --sec: #87ae72;
  --textColor: #fff;
  --card: #171717;
  --accent: #646363;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% /* 1rem = 10px */;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background: var(--bg);
  color: var(--textColor);
}

a {
  color: var(--textColor);
  text-decoration: none;
  cursor: pointer;
}
