:root {
  --bg: #212121;
  --primary: #87ae73;
  --sec: #587748;
  --textColor: #fff;
  --card: #171717;
  --accent: #646363;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% /* 1rem = 10px */;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background: var(--bg);
  color: var(--textColor);
}