.gallery {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.galleryContent .imgPreview {
  background: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryContent img {
  object-fit: cover;
  height: 55%;
  width: 80%;
  /* height: 100%; */
}

.galleryContent .imgPreview:nth-child(1) { grid-area: 1 / 1 / 3 / 2; }
.galleryContent .imgPreview:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.galleryContent .imgPreview:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
.galleryContent .imgPreview:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
.galleryContent .imgPreview:nth-child(5) { grid-area: 2 / 3 / 3 / 4; }
.galleryContent .imgPreview:nth-child(6) { grid-area: 3 / 3 / 5 / 4; }
.galleryContent .imgPreview:nth-child(7) { grid-area: 3 / 2 / 4 / 3; }
.galleryContent .imgPreview:nth-child(8) { grid-area: 4 / 1 / 5 / 2; }
.galleryContent .imgPreview:nth-child(9) { grid-area: 3 / 1 / 4 / 2; }
.galleryContent .imgPreview:nth-child(10) { grid-area: 4 / 2 / 5 / 3; }