:root {
  --bg: #F8FAFC;
  --primary: #645CFF;
  --accent: #A29DFF;
  --textLight: #ffffff;
  --textDark: #0F172A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background: var(--bg);
  color: var(--textLight);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

a {
  cursor: pointer;
  text-decoration: none;
}