nav {
  padding: 2.4rem 0;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContent .logo a {
  font-size: 3.2rem;
  line-height: 3.1rem;
  letter-spacing: 0.3rem;
  text-align: left;
  font-weight: 600;
  color: var(--textLight);
}

button.open {
  padding: 0.9rem;
  border-radius: 0.5rem;
}

button.open i {
  color: var(--bg);
}

.allLinks {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--textLight);
  width: 100%;
  height: 100%;
  padding: 4rem 12rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.allLinks.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s, visibility 0.4s;
}

.mobile {
  display: none;
}

.pc {
  display: none;
}

.subMenuLinks,
.menuLinks {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 3rem;
}

.subMenuLinks h3,
.menuLinks h3 {
  color: var(--bg);
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
  text-transform: capitalize;
  list-style: none;
  margin-bottom: 1.6rem;
}

.subMenuLinks ul,
.menuLinksUl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  list-style: none;
}

.menuLinksUl {
  display: none;
}

.subMenuLinks ul a,
.menuLinksUl a {
  font-size: 1.6rem;
  line-height: 1.3rem;
  color: var(--textDark);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  justify-content: flex-start;
  transition: 0.4s;
}

.subMenuLinks ul a:hover,
.menuLinksUl a:hover {
  color: var(--textLight);
  background: var(--bg);
  transition: all 0.4s;
}

button.close {
  background: none;
  position: fixed;
  top: 4%;
  right: 10.5%;
}

button.close i {
  color: var(--bg);
  font-size: 2.5rem;
}

@media (max-width: 991px) {
  .mobile {
    display: block;
  }
}

@media (min-width: 992px) {
  .navContent {
    justify-content: flex-start;
  }

  .navContent .logo {
    flex: 1;
  }

  .allLinks {
    flex: 2;
    position: relative;
    top: 0;
    left: 0;
    background: none;
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
    padding: 2rem;
    transition: none;
  }

  .allLinks.active {
    opacity: 1;
    visibility: visible;
    transition: none;
  }

  .pc {
    display: block;
  }

  .menuLinks {
    margin-top: 0;
    flex-direction: row;
    gap: 0;
  }

  .menuLinks h3 {
    color: var(--textLight);
    font-size: 2rem;
    line-height: auto;
    letter-spacing: 0.1rem;
    margin: 0;
    cursor: pointer;
    padding: 1rem 3.2rem;
  }

  .menuItem {
    position: relative;
  }

  /* Initially hide the submenu */
  .menuLinksUl {
    display: none;
    position: absolute; /* Position submenu relative to the parent */
    top: 100%; /* Position below the parent */
    left: 0; /* Align to the left of the parent */
    width: 100%; /* Full width of the parent */
    background: var(--textLight); /* Background color */
    padding: 3.2rem; /* Padding for spacing */
  }

  /* Display submenu when hovering over the parent menu item */
  .menuItem:hover .menuLinksUl,
  /* Ensure submenu stays open when hovering over itself */
  .menuLinksUl:hover {
    display: grid;
  }
}

