@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 80%;
}

.activeStyle {
}
.activeStyle,
nav a:hover {
  background: #2a323c;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
}

nav a:hover {
  background: #494948;
}
