:root {
  --bg: #212121;
  --primary: #87ae73;
  --sec: #587748;
  --textColor: #fff;
  --card: #171717;
  --accent: #646363;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% /* 1rem = 10px */;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background: var(--bg);
  color: var(--textColor);
}

#root {
  width: 30vw;
  margin: 15rem 0;
}

form,
form div,
.groceryList,
.listItem {
  display: flex;
  flex-direction: column;
}

main {
  background: var(--card);
  padding: 3.2rem;
}

h2 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

form {
  width: 100%;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.2rem;
}

form div {
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

h4 {
  font-size: 3.2rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-weight: 500;
}

form input {
  width: 80%;
  border: 0.2rem solid var(--primary);
  border-right: none;
  outline: none;
  border-radius: 0.5rem 0rem 0 0.5rem;
  padding: 0 1rem;
  caret-color: var(--primary);
}

form input:focus {
  border: 0.2rem solid var(--primary);
  border-right: none;
  border-radius: 0.5rem 0rem 0 0.5rem;
}

button {
  border: none;
  outline: none;
  background: var(--primary);
  color: var(--textColor);
  cursor: pointer;
}

form button {
  font-size: 1.3rem;
  padding: 0.7rem 2rem;
  letter-spacing: 0.1rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.groceryList {
  gap: 2rem;
}

.listItem div {
  display: flex;
  gap: 1.5rem;
}

.listItem {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type="checkbox"] {
  accent-color: var(--primary);
  cursor: pointer;
}

.isDone {
  letter-spacing: 0.1rem;
}

.line {
  text-decoration: line-through;
  color: var(--accent);
}

.groceryList button {
  font-size: 1.2rem;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
  background: var(--sec);
}

@media screen and (max-width: 550px), screen and (max-height: 550px) {
  #root {
    width: 95vw;
    margin: 15rem 0;
  }

  h4 {
    font-size: 2.5rem;
  }

  form input {
    width: 65%;
  }

  .isDone {
    font-size: 1.5rem;
  }

  .groceryList button {
    font-size: 1.1rem;
  }
}

@media (min-width: 551px) and (max-width: 900px) {
  #root {
    width: 70vw;
  }

  h4 {
    font-size: 3rem;
  }

  

}
